@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-Thin.ttf");
}

* {
  font-family: "RobotoMono", monospace;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333;
  color: #fff;
  text-align: center;
}
